/* BASE-SETTINGS */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #4C4D5C;
    line-height: normal;
    text-align: left;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

ul {
    padding-left: 20px;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

a {
    color: var(--link-txt);
    text-decoration: none;
}

a:hover,
a:focus,
input:focus,
button:focus {
    text-decoration: none !important;
    outline: 0 !important;
}

.akj-container {
    max-width: 1290px;
}

/* Top header */
.top-hdr {
    background-color: #030419;
    height: 54px;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-search {
    position: relative;
}

.top-search input {
    max-width: 156px;
    padding: 0 0 0 30px;
    border-radius: 8px;
}

.top-search i {
    position: absolute;
    left: 10px;
    top: 5px;
}

.fa-magnifying-glass {
    color: #646471;

}

.top-hdr .img {
    width:20px;
    height: 20px;
}

/* Main Header */
.akj-nav {
    padding: 7px 0;
}

.akj-nav ul {
    margin: 0 auto;
    list-style: none;
}

.akj-nav ul li {
    display: inline-block;
    margin: 0 14px;
}

.akj-nav ul li a {
    display: inline-block;
    color: #4C4D5C;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 27.52px;
    font-weight: 400;
    font-family: Mark Pro;
}

.akj-nav ul li.current_page_selected a {
    color: #030419;
}

.btn {
    background-color: #2A2F76;
    border: none;
    font-family: 'DIN-Bold';
    font-size: 18px;
    line-height: 19.8px;
}

/* Banner */
.banner {
    position: relative;
}

.banner img {
    object-fit: cover;
    width: 100%;
    max-height: 460px;
}

.banner-g {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(90.41deg, #030419 -15.83%, rgba(4, 5, 33, 0.04) 101.39%);
}

.banner-txt {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
    display: flex;
    align-items: center;
}

.banner-txt h1 {
    font-size: 70px;
    line-height: 84px;
    color: #fff;
}


/* our products */

.our-products {
    padding-top: 70px;
    color: black;
    

}

.our-products p {
    font-size: 16px;
    color: #4C4D5C;
    line-height: 2rem;
    padding-top: 10px;
}


.box-img {
    display: block;
  width: 100%;
  padding-top: 20px;
}

.box-img img {
    width: 100%;
}

.box-img h5 {
    
    padding: 15px;
    color: #030419;
    font-size: 12px;
    font-weight: bold;
}

.invisible-img {
    width: 100%;
}




/* About Us */

.about-us {
    position: relative;
}

.about-us img {
    object-fit: cover;
    width: 100%;
    max-height: 460px;
}

.about-box {
    position: absolute;
    max-height: 699px;
    max-width: 660px;
    left: 100px;
    right: 0;
    top: -50px;
    bottom: 0;
    background: rgba(3, 4, 25, 0.7);
    border-radius: 8px;
    padding: 60px 20px;
    margin-bottom: 30px;
    color: #fff;

}

.middle-text {
    font-size: 12px;
}

.about-box p {
    font-size: 16px;
    font-family: Mark Pro;
    line-height: 27.52px;
}

.about-box h3 {
    font-size: 48px;
    line-height: 57.6px;
    font-weight: 400;
    font-family: DIN-Bold;
}

.middle-text {
    padding-bottom: 50px;
    font-size: 12px;
    margin-top: 20px;
}

/* News & Events */

.news-events {
    padding-top: 70px;
    color: black;
}

.news {
    text-align: left;
}

.news-img {
    display: block;
  width: 100%;
  padding-top: 20px;
}

.news-img img {
    width: 100%;
}

.news-img h5 {
    
    padding: 15px;
    color: #030419;
    font-size: 12px;
    font-weight: bold;
}

.read-text {
    text-decoration: underline;
}

.news-events p {
    font-size: 16px;
    color: #4C4D5C;
    line-height: 2rem;
    padding-top: 10px;
}



.news-events button {
    padding: 15px 12px;
    border: none;
    color: white;
    background-color: #2A2F76;
    border-radius: 8px;
    margin-top: 30px;
    font-family: 'DIN-Bold';

}

/* World of Building Solutions*/

.wbs {
    padding-top: 70px;
    color: black;
    background-color: #F1F1F2;
    margin-top: 50px;
    
    

}

.wbs p {
    font-size: 16px;
    color: #4C4D5C;
    line-height: 2rem;
    padding-top: 10px;
}


.wbs-img {
    display: block;
  width: 100%;
  padding-top: 20px;
}

.wbs-img img {
    width: 100%;
}

.wbs-img h5 {
    
    padding: 15px;
    color: #030419;
    font-size: 12px;
    font-weight: bold;
}


.wbs-title .invisible-img {
    width: 100%;
    
}





/* why akij cement*/

.why-akij {
    position: relative;
}

.why-akij img {
    object-fit: cover;
    width: 100%;
    max-height: 460px;
}

.akij-box {
    position: absolute;
    max-height: 699px;
    max-width: 660px;
    left: 100px;
    right: 0;
    top: -50px;
    bottom: 0;
    background: rgba(3, 4, 25, 0.7);
    border-radius: 8px;
    padding: 60px 20px;
    margin-bottom: 30px;
    color: #fff;

}

.akij-text {
    font-size: 12px;
    display: grid;
    grid-template-columns: 80px 200px ;
    /* grid-gap: 10px; */
    

}

.akij-text a {
    background: #4C4D5C;
    opacity: 0.48;
    border-radius: 50px;
    width: 70px;
height: 70px;
    padding: 15px 15px;
}

.akij-text img {
    width: 38.75px;
    height: 38.36px;
}

.akij-box p {
    font-size: 16px;
    font-family: Mark Pro;
    line-height: 27.52px;
    padding: 15px 0;
}

.akij-box h3 {
    font-size: 48px;
    line-height: 57.6px;
    font-weight: 400;
    font-family: DIN-Bold;
}

.akij-text {
    padding-bottom: 50px;
    font-size: 12px;
    
}


/*Projects*/

.our-project {
    padding-top: 70px;
    color: black;
    

}

.our-project p {
    font-size: 16px;
    color: #4C4D5C;
    line-height: 2rem;
    padding-top: 10px;
}


.project-img {
    display: block;
  width: 100%;
  padding-top: 20px;
  position: relative;
}

.project-img img {
    width: 100%;
    
}

.project-img h5 {
    position: absolute;
    /* top:0; */
    bottom:0;
    left:0;
    right:0;
    z-index: 1;
    padding: 15px;
    color: #FFFFFF;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 140%;
letter-spacing: -1px;
    text-align: left;
}


/* Cost Calculator */

.btn3 {
    position: absolute;
    padding: 14px 24px;
    border: none;
    color: white;
    background: #2A2F76;
border-radius: 8px;
    margin: 0 auto;
    font-family: 'DIN-Bold';
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 0;
    right: 0;
    width: 174px;
height: 48px;
   margin-top: 20px;

}

.cost-calculator {
    position: relative;
    padding-top: 50px;
}

.cost-calculator img {
    object-fit: cover;
    width: 100%;
    max-height: 460px;
}

.cost-calculator-g {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: (0deg, rgba(3, 4, 25, 0.6), rgba(3, 4, 25, 0.6));
}

.cost-calculator-txt {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
    display: flex;
    align-items: center;
}

.cost-calculator-txt h1 {
    font-size: 70px;
    line-height: 84px;
    color: #fff;
    text-align: center;
}

/* footer */



footer  {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: #f0f0f0;
    width: 100%;
    
}



.footer-area .footer-p {
    text-align: left;
    justify-content: center;
    align-items: center;
}

.footer-area ul li {
    padding: 7px 0;
}

.footer-area h4 {
    font-size: 24px;
    /* padding-l: 25px; */
    line-height: 28.8px;
    font-weight: 500;
    font-family: 'DIN-Bold';
    align-items: center;
    margin-left: 20px;
}

/* .footer-content a {
    color: #DDDDE0;
    font-family: Mark Pro;
    font-size: 16px;
} */




.footer-area {
    background-color: #030419;
    color: white;
    margin: 0 auto;
    padding: 20px 0;
    display: block;
    
}

.follow-text {
    display: block;
}

.footer-area .icons a{
    /* justify-content: space-between; */
    display: grid;
    grid-template-columns: 30px 50px ;
    
    
}


/* .footer-area .icons {
    display: inline-grid;
    grid-template-columns: auto;

    
} */

.footer-area p {
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5rem;
    color: #ADADB4;
    margin-left: 5px;
}

.copy-right {
    text-align: center;
    font-size: 18px;
    font-family: Mark Pro;
    line-height: 29.88px;
    font-weight: 400;
    color: #DDDDE0;
}

.footer-area .icons a {
    /* padding: 10px; */
    font-family: Mark Pro;
}



.footer-p {
    /* text-align: left; */
    /* padding-left: 50px; */
    line-height: 1.5em;
    padding-top: 20px;

}

.follow-text {
    text-align: left;
    align-items: center;
    justify-content: center;
}

.follow-text li {
    list-style: none;
    
}













/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .akj-nav ul {
        margin: 20px 0;
        padding-left: 0;
    }

    .akj-nav ul li {
        display: block;
        margin: 10px 0;
    }

    .top-hdr form i {
        margin-right: 50px;

    }

    .fa-solid {
        position: absolute;
        left: 0;
        right: 0;
        padding-left: 500px;
        top: 19px;

    }

    .banner-txt h1 {
        font-size: 20px;
        line-height: 1.5rem;
        /* padding-left: 70px; */
    }

    .sub-banner-txt h1 {
        font-size: 16px;
        line-height: 1.5rem;
        /* padding-left: 70px; */
    }

    .sub-banner-txt p {
        font-size: 12px;
        line-height: 1.5rem;
        /* padding-left: 70px; */
    }

    .about-box p {
        font-size: 12px;
        font-family: Mark Pro;
        line-height: 15px;
        padding-top: 5px;
    }

    .about-box h3 {
        font-size: 18px;
        line-height: 1rem;
        font-weight: 400;
        font-family: DIN-Bold;
        padding-top: 10px;


    }

    .about-box {
        position: absolute;
        max-height: 699px;
        max-width: 460px;
        left: 50px;
        right: 0;
        top: -50px;
        bottom: 0;
        background: rgba(3, 4, 25, 0.7);
        border-radius: 8px;
        padding: 10px 20px;
        margin-bottom: 20px;
        color: #fff;

    }

    .middle-text {
        padding-bottom: 50px;
        font-size: 10px;
        /* margin-bottom: 50px; */
    }

    .middle-text h3 {
        padding: 0;
    }


}

/* Construction cost Calculator */

/* Start Sub-Banner */

.sub-banner {
    position: relative;

}

.sub-banner img {
    object-fit: cover;
    width: 100%;
    max-height: 460px;
}

.sub-banner-g {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(95.16deg, #030419 -4.63%, rgba(4, 5, 33, 0.32) 105.04%);
}

.sub-banner-txt {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    /* bottom: 0; */
    z-index: 9;
    display: flex;
    align-items: center;
}

.sub-banner-txt h1 {
    font-size: 70px;
    line-height: 84px;
    color: #fff;
    font-family: 'DIN-Bold';
}

.sub-banner-txt .sub-text {
    color: #EDEDEE;
    line-height: 1.5rem;
    font-family: Mark Pro;
}


/* End Sub-Banner */

/* Start Building Estimation Calculator */

.radio {
    text-align: left;
    align-items: left;
    justify-content: flex-start;
    padding-top: 10px;
}

.radio-heading h5 {
    text-align: left;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'DIN-Bold';
}

.bec-txt .form-text {
    text-align: left;
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 14px;
    line-height: 23.52px;
    color: #4C4D5C;
}

.bec-txt h3 {
    font-size: 48px;
    line-height: 57.6px;
    text-align: center;
    font-family: 'DIN Bold';
    color: #030419;
}

.bec-txt p {
    font-size: 24px;
    line-height: 39.84px;
    text-align: center;
    font-family: Mark Pro;
    color: #030419;
    font-weight: 500;
}

.bec button {
    font-family: 'DIN-Bold';
    font-size: 18px;
    line-height: 19.8px;
    font-weight: 5;
}

option {
    color: #4C4D5C;
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 16px;
    line-height: 27.52px;
}

.bec .form {
    width: 90%;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
}

/* End Building Estimation Calculator */