/* BASE-SETTINGS */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #4C4D5C;
    line-height: normal;
    text-align: left;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

ul {
    padding-left: 20px;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

a {
    color: var(--link-txt);
    text-decoration: none;
}

a:hover,
a:focus,
input:focus,
button:focus {
    text-decoration: none !important;
    outline: 0 !important;
}

.akj-container {
    max-width: 1290px;
}

/* Top header */
.top-hdr {
    background-color: #030419;
    height: 54px;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Main Header */
.akj-nav {
    padding: 7px 0;
}

.akj-nav ul {
    margin: 0 auto;
    list-style: none;
}

.akj-nav ul li {
    display: inline-block;
    margin: 0 14px;
}

.akj-nav ul li a {
    display: inline-block;
    color: #4C4D5C;
    padding: 5px 10px;
}

.akj-nav ul li.current_page_selected a {
    color: #030419;
}

.btn {
    background-color: #2A2F76;
    border: none;
}

/* Banner */
.carousel-item {
    position: relative;
}

.banner h1 {
    position: absolute;
    padding: 80px 13% 70px;
    text-align: left;
    line-height: 2 rem;
    left: 0;
    top: 0;
    color: #fff;
}

/* our products */

.pro-text {
    margin-left: 20%;
}

.card-img-top {
    object-fit: cover;
    width: 100%;
    max-width: 306px;
    max-height: 238px;


}

.card-title {
    padding: 20px;
}


/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .akj-nav ul {
        margin: 20px 0;
        padding-left: 0;
    }

    .akj-nav ul li {
        display: block;
        margin: 10px 0;
    }
}