
  /* BASE-SETTINGS */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--color-black);
    line-height: normal;
    text-align: left;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

ul {
    padding-left: 20px;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

a {
    color: var(--link-txt);
    text-decoration: none;
}

a:hover,
a:focus,
input:focus,
button:focus {
    text-decoration: none !important;
    outline: 0 !important;
}
.akj-container{
    max-width: 1290px;
}

/* Top header */

.top-hdr {
    background-color: #030419;
    height: 54px;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-nav {
    padding-left: 15%;
    
}

.btn  {
    background-color: #2A2F76;
    border: none;
    margin-left: 26%;
}




/* Main Header */